{
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "varsIgnorePattern": "(^migrates$)|(^finalCreates$)|(^Log$)|(^Mysqlc$)|(^squel$)|(^_$)|(Q)",
        "argsIgnorePattern": "(^resolve$)|(^reject$)"
      }
    ]
  }
}
